.login-container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(226, 219, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__div-container {
    padding: 0.4rem 2rem;
    padding-bottom: 2rem;
    width: 400px;
    margin: 0 auto;
    color: rgb(53, 51, 51);
    background-color: rgb(230, 228, 228);
    border-radius: 5px;
    border: 1px solid rgb(201, 199, 199);
}

.login__div-data {
    background-color: rgba(140, 142, 248, 0.452);
    padding: 0 1rem;
    border-radius: 3px;
    border: 1px solid rgb(194, 186, 186);
    margin-bottom: 1rem;

}

.login__title-data {
    text-align: center;
    margin-bottom: 0;
}

.login__gmail-data {
    margin: 0;
}


.sign-in {

    font-size: 1.8em;
    margin: 1rem 0;
    font-weight: 900;

}

.login__div-email {
    width: 100%;
}

.login__label-email {
    font-size: 1.1em;
    font-weight: 100;
}

.login__email {
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    height: 30px;
    border: 1px solid rgb(182, 177, 177);
}

.login__label-password {
    font-size: 1.1em;
    font-weight: 100;
}

.login__password {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    height: 30px;
    border: 1px solid rgb(182, 177, 177);

}

.login__btn {
    margin-top: 1rem;
    width: 100%;
    height: 38px;
    font-size: 1.2rem;
    background-color: rgb(139, 148, 231);
    border: 1px solid rgb(233, 211, 150);
    border-radius: 1px;
    box-shadow: 1px 1px 2px;
}

.login__parrafo {
    margin-top: 1rem;
}

.login__btn-create {
    margin-top: 1rem;
    font-size: 1.2em;
    height: 38px;
    width: 100%;
    font-weight: 100;
    border: 1px solid rgb(128, 95, 247);
    background-color: rgb(237, 243, 247);
    box-shadow: 1px 1px 2px;
}

.xd{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
     height: 500px;
}

.logaut{
 text-align: center;
}